body {
  background-color: #1c0135;
  height: 100vh;
  width: 100vw;
  color: white;
}
.clock {
  border-radius: 50%;
  width: 28rem;
  height: 28rem;
  background-color: black;
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  margin-top: 7.5rem;
  position: relative;
}

.nums {
  position: absolute;
  font-size: 3.5rem;
  font-weight: bold;
}

.num1 {
  transform: translate(95px, -155px);
}
.num2 {
  transform: translate(150px, -95px);
}
.num3 {
  transform: translate(180px, 0);
}
.num4 {
  transform: translate(150px, 95px);
}
.num5 {
  transform: translate(95px, 155px);
}
.num6 {
  transform: translate(0, 180px);
}
.num7 {
  transform: translate(-95px, 155px);
}
.num8 {
  transform: translate(-155px, 95px);
}
.num9 {
  transform: translate(-180px, 0);
}
.num10 {
  transform: translate(-155px, -95px);
}
.num11 {
  transform: translate(-95px, -155px);
}
.num12 {
  transform: translate(0, -180px);
}

@property --deg {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0deg;
}

.clock::before,
.clock::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  height: 28rem;
  width: 28rem;
  background: conic-gradient(
    from var(--deg) at center,
    #00c3ff,
    #4d0199,
    #6300c6,
    #009dcd
  );
  border-radius: inherit;
  z-index: -2;
  padding: 2px;
  animation: autoRotate 2s linear infinite;
}

.clock::after {
  filter: blur(10px);
}

@keyframes autoRotate {
  to {
    --deg: 360deg;
  }
}

#digi-clock {
  font-family: sans-serif;
  font-size: 2rem;
  color: cornflowerblue;
}


.hand{
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform-origin: bottom center;
  transform: rotate(90deg);
  transition: transform 0.05s ease-in-out;
}

.hand.hour{
  width: 6px;
  height: 80px;
  background: #4d0199;
  border-radius: 6px;
  box-shadow: 0 0 10px #4d0199;
}

.hand.minute {
  width: 4px;
  height: 110px;
  background: #009dcd;
  border-radius: 4px;
  box-shadow: 0 0 10px #009dcd;
}

.hand.second {
  width: 2px;
  height: 130px;
  background: red;
  border-radius: 2px;
  box-shadow: 0 0 10px red;
}